{% extends "base.html" %}

{% block title %}
PizzaLife
{% endblock title %}

{% block body %}


<div class="container py-5 my-5">
    <h1 class="    font-weight-light text-center">About Us</h1>
    <p class="text-justify px-5 mx-5"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel iure ex, aliquid modi ipsam cum ipsa commodi eveniet, dolorum provident porro ducimus? Quos doloribus veniam voluptatibus repellat iste et, magnam reiciendis dicta ducimus harum sapiente cumque deserunt obcaecati assumenda provident dolor hic? Natus at laborum, repudiandae inventore quia dolorum velit!</p>
</div>


{% endblock body %}