{% extends "base.html" %}

{% block title %}
PizzaLife
{% endblock title %}

{% block body %}


<div class="container py-5 my-5 px-lg-5  ">
    <div class="container py-5 my-5 mx-lg-5 px-lg-5">
        <div class="px-lg-5 mx-lg-5">
            <div class="px-lg-5 mx-lg-5">
                 <h1 class="text-center">Plaease Verify Your Email</h1>
        <form action="" method="POST" class="px-lg-5 mx-lg-5">
            {% csrf_token %}
            {{OTPFORM.OTP}}
            <div class="pt-5 text-center">
              <input type="submit" class="btn btn-dark  " value="Verify">
            </div>
            </form>
            <h1>{{ranotp}}</h1>
            </div>
        </div>
    </div>
</div>


{% endblock body %}