{% extends "base.html" %}


{% block title %}
PizzaLife
{% endblock title %}
 
{% block css %}
<style>

  label[for="id_username"]{ 
         font-size: 0;
   }
   label[for="id_username"]:before{
       content: "Email"; 
       font-size: 20px;
        
   }
label[for="id_password"]{ 
         font-size: 0;
   }
 label[for="id_password"]:before{
       content: "Password"; 
       font-size: 20px;
        
   }

.dropshadow{
  filter: drop-shadow(30px 10px 4px #ffc107);
}

.boxshadow{
  box-shadow:0px 0px 5px   gray ;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



@media only screen and (max-width: 774px) {
 .center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
}

.dropshadow2{
  filter: drop-shadow(5px 5px 4px gray);
}
</style>

{% endblock css %}

{% block body %}


<div class="container   ">
  <div class="container px-md-5 pb-md-5">

      <div class="px-5">
            <div class="row px-md-5  "> 
                <div class="col-12  ">
                  <div class="form-style-8 ">
                  <div class="row ">
                    <div class="col-12 col-md-5 bg-warning boxshadow ">
                    <img src="/static/images/Logo.png" alt="PizzaLife" height="300px" width="300px" class="dropshadow  center  "> 
                    </div>
                    <div class="col-12 col-md-7">

                      <div class=" py-5 mt-3 ">
                        <h1 class=" text-warning text-center" style="font-size: 60px;"><i class="dropshadow2 fas fa-user-plus"></i></h1> 
                          <form class=" mx-md-5 px-5 " method="POST">  
                              {% csrf_token %}
                              <table >
                                {% for fm in Signform %}
                                  {{fm.label_tag}} {{fm}} <p class="text-danger font-weight-light">{{fm.errors | striptags}}</p> <br> <br>
                                {% endfor %}
                                
                              </table >
                                                
                              <button type="submit" class="btn btn-dark d-block w-100 shadow">Sing Up</button>
                                              
                          </form>
                        </div>
                    </div>
                  </div>
                  </div>
                  
                  
                
                    
                </div>
              
            </div>
      </div>
  </div>
   
</div>


{% endblock body %}